{% extends 'recipe_base.html' %}

{% block title %}Recipe Book{% endblock %}

{% block content %}
    <center>
    <h1>Recipe Book</h1></center>
    <br>
    <b>{{ recipe.name }}</b>
        <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient.ingredient.name }} - {{ ingredient.quantity }}</li>
            {% empty %}
                <li>No ingredients available</li>
            {% endfor %}
        </ul>
    <a href="/recipes/list/">Back to Recipes</a>
{% endblock %}